* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  font-size: 24px;
  font-family: 'Unica One', cursive;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem 0;
}

#app h1 {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  margin-bottom: 8px;
}
.display{
  display: grid;
  grid-template-columns: 4em 4em 4em;
  grid-template-rows: 1em 1em 1em 1em 1em;
  background: linear-gradient(rgb(150, 149, 149), rgb(137, 175, 145)) ; 
  border:1px solid white;
  box-shadow: inset 10px 7px 10px -7px rgb(218, 173, 173), inset -5px -5px 11px -5px rgb(104, 20, 20);

}
.controls {
  display:grid;
  grid-template-columns: 4em 4em 4em 4em;
  grid-template-rows: 5em 5em 5em 5em 5em;
  background: linear-gradient(grey, navy);
  border: 1px solid black;
  
  
  
}
.calculator{
  border:30px inset rgb(24, 22, 165); 

  }

  .button{
    border: 2px inset black;
    
  }

   .digits{
    grid-row: 2/6;
    grid-column: 1/4;
    display:grid;
    grid-template-rows: 2em 2em 2em 2em;
    grid-template-columns: 2em 2em 2em;
    border: inset 1px grey;
    grid-gap: 20px;
    justify-content: center;
    
  }
  .held-label{
    grid-column:span 2;

  }
  .operations{
    grid-column:4/5;
    grid-row: 1/6;
    display:grid;
    border: inset 5px black;
    
  }
  
  
  .digits button{
    background: linear-gradient(rgb(226, 215, 215), rgb(170, 157, 157)214, 207, 207);
    color: blue;
  }
  .memory{
    display:flex;
    
  }
  .operations button{
    background: linear-gradient(rgb(129, 60, 60), rgb(148, 52, 52));
    color:white;
    border: 2px inset black;
  }

  .clear-all{
    background: linear-gradient(rgb(129, 60, 60), rgb(148, 52, 52));
    color:white;
    border: 1px inset black;
    height:40px;
    
  }
  .clear-entry{
    background: linear-gradient(rgb(129, 60, 60), rgb(148, 52, 52));
    color:white;
    border: 1px inset black;
    height: 40px;
  }